body {
  margin: 0;
  display: flex;
  padding-top: 30px;
  flex-wrap: wrap;
}
.box {
  background-color: #212121;
  height: 200px;
  flex-basis: 100%;
  margin: 0 20px 40px;
       /*左右  上  下*/
}

@media (min-width: 600px) {
  .box {
    flex-basis: calc(50% - 40px);
  }
}
@media (min-width: 900px) {
  .box {
    flex-basis: calc(33.3333% - 40px);
  }
}
/*calc(expression)*/
/*calc()的运算规则

calc()使用通用的数学运算规则，但是也提供更智能的功能：

使用“+”、“-”、“*” 和 “/”四则运算；
可以使用百分比、px、em、rem等单位；
可以混合使用各种单位进行计算；
表达式中有“+”和“-”时，其前后必须要有空格，如"widht: calc(12%+5em)"这种没有空格的写法是错误的；
表达式中有“*”和“/”时，其前后可以没有空格，但建议留有空格。*/


/*CSS中相对长度单位，表示相对视口高度（Viewport Height），1vh = 1% * 视口高度。
视口比例长度定义了相对于视口的长度大小，这是文档的可见部分。 当视口的大小被修改（通过更改桌面计算机窗口大小或旋转手机或平板设备的方向）时，只有基于Gecko的浏览器才动态更新视口值。
结合 overflow:auto，滚动条最终占用的空间大小不是减去视口大小之后的宽度，而overflow:scroll 才是。*/